<<<<<<< HEAD
h1, h3{
    display: block;
    text-align: center;
    margin: auto;
    color:darkslategrey;
    font-family: helvetica;
}

#container{
    margin: auto;
    width: 600px;
    height: 600px;
    background-color: azure;
    text-align: center;
    border: double 3px black;
   
}

#submit {
    display: inline-block;
    height:20px;
    width:70px;
    background-color:#b5b0b0;
    font-family:arial;
    font-weight:bold;
    font-size: 12px;
    border-radius: 5px;
    text-align:center;
    margin-top:2px;
}

#list {
    font-family:helvetica;
    display: inline;
    list-style-type: none;
    font-size: 15px;
    padding: 2px;
    margin: auto;
}
=======
#container{
    width: 600px;
    height: 600px;
    display: block;
    margin: auto;
    text-align: center;
    background-color: aquamarine;
    font-family: helvetica;

}
#newItem{
height: 25px;
text-align: center;
    font-size: 14px;
}

ul li{
    list-style-type: none;
    padding: 10px;
    margin: 5px;
   
}

button{
    background-color: bisque;
    font-family: helvetica;
    width: 150px;
    height: 25px;
    font-size: 12px;
}
#addItem{
    background-color:burlywood;
    font-family: helvetica;
    padding: 10px;
}

.checkbox, .delete{
background-color: darkturquoise;
    width: 40px;
    margin: 0 5px 0 5px;
  
}

>>>>>>> origin/gh-pages
